<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Personagens de Rick and Morty</title>
</head>
<body>

  <a href="/licitacao/new">ADICIONAR</a>

  <table border="1">
    <thead>
      <tr>
        <td>ID</td>
        <td>Título</td>
        <td>Empresa</td>
        <td>Valor</td>
      </tr>
    </thead>
    <tbody>
      {% for licitacaos in licitacao %}
        <tr>
          <td>{{ licitacaos.id }}</td>
          <td>{{ licitacaos.title }}</td>
          <td>{{ licitacaos.comp }}</td>
          <td>{{ licitacaos.value }}</td>
        </tr>
      {% endfor %}
    </tbody>


  </table>

</body>
</html>